<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--引入全类名接口-->
<mapper namespace="com.zyy.mapper.AdminMapper">



    <select id="list" resultType="com.zyy.pojo.Admin">
        select * from admin order by id desc
    </select>
    <insert id="insert">
        insert into admin(username, password, phone, email)
        values(#{username}, #{password}, #{phone}, #{email})
    </insert>
    <update id="update">
        update admin set username = #{username}, phone = #{phone}, email = #{email}, updatetime = #{updatetime} where id = #{id}
    </update>





    <select id="pager" resultType="com.zyy.pojo.Admin">
        select * from admin
        <where>
            <if test="username != null and username != ''">
                username like concat('%', #{username}, '%')
            </if>
            <if test="phone != null and phone != ''">
                and phone  like concat('%', #{ phone }, '%')
            </if>
            <if test="email != null and email != ''">
                and email  like concat('%', #{email}, '%')
            </if>
        </where>
        order by id desc
    </select>
    <select id="getById" resultType="com.zyy.pojo.Admin">
        select * from admin where id = #{id}
    </select>
    <select id="getLoginInfo" resultType="com.zyy.pojo.Admin">
        select * from admin where username = #{username} and password = #{password}
    </select>
    <select id="getByUsername" resultType="com.zyy.pojo.Admin">
        select * from admin where username = #{username}
    </select>


    <update id="updatePass">
        update admin set password = #{newPass} where username = #{username} and password = #{password}
    </update>
</mapper>
