<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--引入全类名接口-->
<mapper namespace="com.zyy.mapper.ReturnBookMapper">

    <select id="pager" resultType="com.zyy.pojo.ReturnBook">
        select * from returnbook
        <where>
            <if test="name != null and name != ''">
                name like concat('%', #{name}, '%')
            </if>
            <if test="bookId != null and bookId != ''">
                book_id like concat('%', #{bookId}, '%')
            </if>
            <if test=" username  != null and  username  != ''">
                and username like concat('%', #{ username }, '%')
            </if>
        </where>
        order by id desc
    </select>

    <insert id="insert">
        insert into returnbook(name, book_id, uid, username, phone,days,status,returntime,realtime)
        values(#{name}, #{bookId}, #{uid}, #{username}, #{phone},#{days},#{status},#{returnTime},#{realTime})
    </insert>
    <delete id="delete">
        delete from returnbook where id = #{id}
    </delete>
</mapper>
